#Home {
    min-height: 10vh;
}

#Hino {
    min-height: 45vh;
}

#HinoSub {
    min-height: 90vh;
}

#Minami {
    min-height: 45vh;
}

#MinamiSub {
    min-height: 90vh;
}

body {
    font-family: kozuka-gothic-pro, sans-serif;
    font-style: light;
    font-weight: 200;
}

:root {
    --max-font-size: 22px;
}
  
html {
    font-size: min(2.4vw, var(--max-font-size));
}
  
  