#Home {
    min-height: 10vh;
}

#Hino {
    min-height: 45vh;
}

#HinoSub {
    min-height: 90vh;
}

#Minami {
    min-height: 45vh;
}

#MinamiSub {
    min-height: 90vh;
}

#SelectDate {
    min-height: 40vh;
}

#SelectBus {
    min-height: 40vh;
    display: flex;
    align-items: space-around;
}

#Decide {
    min-height: 10vh;
}

#container {
    display: flex;
    justify-content: space-between;
  }

/* body {
    font-family: kozuka-gothic-pro, sans-serif;
    font-style: light;
    font-weight: 200;
} */